@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: 'Nunito', sans-serif;
}

#main h1 {
  color: #444;
  text-align: left;
  padding: 1rem 2rem;
  z-index: 100;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  height: 60%;
  width: 100%;
}

.wrapper {
  width: 60%;
}

#book-list {
  padding: 0;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select, form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
}

#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

.title {
  color: #eee;
  font-size: 2rem;
  margin-bottom: .6em
}

.genre, .author {
  color: #d6d5d5;
  font-weight: bold;
  font-size: 1.2em;
}

.genre span, .author span {
  font-weight: 300;
  font-style: italic;
}

.meta-books {
  border: 2px solid #790844;
  background: #5f073647;
  padding: 1em;
  border-radius: 4px;
  margin-top: 1.5em;
  overflow: auto;
}

.lead {
  margin-bottom: .8em;
}

.meta-books li {
  list-style: none;
  display: inline-block;
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #5f0133;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}